importFrom(utils, packageDescription)
#exportPattern("^[[:alpha:]]+")


importFrom(graphics, abline, plot, points)
importFrom(stats, dbeta, dunif, integrate, 
           pbeta, punif, qbeta, qunif, rbeta, 
           rbinom, runif)

#user version of the MBBEFD distribution
export(dmbbefd, pmbbefd, qmbbefd, rmbbefd, ecmbbefd, mmbbefd, tlmbbefd)
export(dMBBEFD, pMBBEFD, qMBBEFD, rMBBEFD, ecMBBEFD, mMBBEFD, tlMBBEFD)

export(g2a) #backward compatibility

#C++ version of the MBBEFD distribution (not exported)
#export(mbbefdExposure, rmbbefdC, qmbbefdC, dmbbefd2, pmbbefd2, dG) #deprecated functions
#export(rmbbefdCpp, rMBBEFDCpp)

#R version of the MBBEFD distribution (no longer exported)
#export(dmbbefdR, pmbbefdR, qmbbefdR, rmbbefdR, ecmbbefdR, mmbbefdR, tlmbbefdR)
#export(dMBBEFDR, pMBBEFDR, qMBBEFDR, rMBBEFDR, ecMBBEFDR, mMBBEFDR, tlMBBEFDR)

#Swiss Re curves
export(swissRe)


#finite-support distributions 
importFrom(actuar, munif, levunif) #d,p,q,r in base R
export(ecunif)
importFrom(actuar, mbeta, levbeta) #d,p,q,r in base R
importFrom(gsl, dilog) #dilogarithm function used variance
export(ecbeta)
export(dstpareto, pstpareto, qstpareto, rstpareto, ecstpareto, mstpareto)
export(dgbeta, pgbeta, qgbeta, rgbeta, ecgbeta, mgbeta)

#one-inflated distributions (on the unit interval)
export(doifun, poifun, qoifun, roifun, ecoifun, moifun, tloifun)
export(doiunif, poiunif, qoiunif, roiunif, ecoiunif, moiunif, tloiunif)
export(doibeta, poibeta, qoibeta, roibeta, ecoibeta, moibeta, tloibeta)
export(doistpareto, poistpareto, qoistpareto, roistpareto, ecoistpareto, moistpareto, tloistpareto)
export(doigbeta, poigbeta, qoigbeta, roigbeta, ecoigbeta, moigbeta, tloigbeta)

#empirical total loss
export(etl)

#eecf class for empirical exposure curve function
export(eecf)
S3method(summary, eecf)
S3method(print, eecf)
S3method(print, summary.eecf)
S3method(plot, eecf)

#temporary 
importFrom(MASS, kde2d)

importFrom(Rcpp,sourceCpp)
useDynLib(mbbefd)
