#exportPattern("^[[:alpha:]]+")
#C++ version of the MBBEFD distribution
export(mbbefdExposure,rmbbefd,dmbbefd,pmbbefd,qmbbefd,swissRe,g2a,dG)

#R version of the MBBEFD distribution
export(dmbbefdR, pmbbefdR, qmbbefdR, rmbbefdR, ecmbbefdR, mmbbefdR, tlmbbefdR)
export(dMBBEFDR, pMBBEFDR, qMBBEFDR, rMBBEFDR, ecMBBEFDR, mMBBEFDR, tlMBBEFDR)

#shifted truncated Pareto distribution (on the unit interval)
export(dstpareto, pstpareto, qstpareto, rstpareto, ecstpareto)

#one-inflated shifted truncated Pareto distribution (on the unit interval)
export(doistpareto, poistpareto, qoistpareto, roistpareto, eoicstpareto)

export(etl)

#eecf class
export(eecf)
S3method(summary, eecf)
S3method(print, eecf)
S3method(print, summary.eecf)
S3method(plot, eecf)


#export(g2a)
importFrom(Rcpp,sourceCpp)
useDynLib(mbbefd)
